
<div class= 'container'>
    <h1>Historias de Gatos</h1>
    <p style="color: green"><%= notice %></p>
    <%= link_to image_tag('addc.svg'), new_article_path %>

    <div class='mt-5 mb-5'>
    <div class='row'>
      <% @articles.each do |article| %>
        <div class='col-4 pyy-2'>
          <div class='card'>
              <div >
                      <%= render article %>
                      <p>
                        <%= link_to image_tag('chat.svg'), article ,  class: "btn btn-light", title: "Coment article " %>
                      </p>
              </div>
          </div>

    </div>
      <% end %>
    </div>
</div>

