<div class='container'>
    <ul>
        <% Reaction.kinds.each do |kind| %>
            <li>
                <%= @article.reactions.where(kind: kind).count  %> - <%= kind %>
            </li>
        <% end %>
    </ul>
</div>