<div>
    <ul>
        <% Reaction.kinds.each do |kind| %>
          
           <%= @article.reactions.where(kind: kind).count  %> <%= button_to image_tag("#{kind}.svg", size: "20x20"), user_reaction_path(article_id: @article.id, kind: kind), title: "#{kind}", method: :post %>
           
        <% end %>
    </ul>
</div>